/* KEYBOARD STARTS */

.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5em;
  padding-left: 2%;
  padding-right: 2%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.keyboard-container {
  flex-direction: column;
  background-color: hsla(240, 3%, 7%, 0.65);
  border-radius: 0.5em;
  padding: 0.2em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.BonusRound {
  background: #000428;
  background: -webkit-linear-gradient(
    to top,
    #004e92,
    #000428
  );
  background: linear-gradient(
    to top,
    #004e92,
    #000428
  );
}

.line1 {
  display: flex;
  grid-template-columns: repeat(20, minmax(auto, 1.25em));
  grid-auto-rows: 2em;
  gap: 0.25em;
  margin: 0.3em;
  justify-content: center;
}

.line2 {
  display: flex;
  grid-template-columns: repeat(20, minmax(auto, 1.25em));
  grid-auto-rows: 2em;
  gap: 0.25em;
  justify-content: center;
}

.line3 {
  display: flex;
  grid-template-columns: repeat(20, minmax(auto, 1.25em));
  grid-auto-rows: 2em;
  gap: 0.25em;
  margin: 1.25%;
  justify-content: center;
}

.key {
  display: flex;
  font-size: inherit;
  min-height: 2em;
  min-width: 2em;
  width: 9%;
  height: 90%;
  border: none;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: hsl(
    var(--hue, 200),
    var(--saturation, 1%),
    calc(var(--lightness-offset, 0%) + var(--lightness, 51%))
  );
  color: white;
  fill: white;
  border-radius: 0.25em;
  cursor: pointer;
  user-select: none;
}

/* BIG KEY */
.line3 > .big {
  min-width: 3.15em;
}

/* DISABLED KEY CSS */
.line1 > .disabled {
  --lightness: 23%;
  transition-delay: 1.8s;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.line2 > .disabled {
  --lightness: 23%;
  transition-delay: 1.8s;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.line3 > .disabled {
  --lightness: 23%;
  transition-delay: 1.8s;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

/* ALMOST KEY CSS */
.line1 > .almost {
  --hue: 49;
  --saturation: 51%;
  --lightness: 47%;
  transition-delay: 1.8s;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.line2 > .almost {
  --hue: 49;
  --saturation: 51%;
  --lightness: 47%;
  transition-delay: 1.8s;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.line3 > .almost {
  --hue: 49;
  --saturation: 51%;
  --lightness: 47%;
  transition-delay: 1.8s;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

/* CORRECT KEY CSS  */
.line1 > .correct {
  --hue: 115;
  --saturation: 29%;
  --lightness: 43%;
  transition-delay: 1.8s;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.line2 > .correct {
  --hue: 115;
  --saturation: 29%;
  --lightness: 43%;
  transition-delay: 1.8s;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.line3 > .correct {
  --hue: 115;
  --saturation: 29%;
  --lightness: 43%;
  transition-delay: 1.8s;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.key > svg {
  width: 1em;
  height: 1em;
  transform: scale(1.4);
}

.key:hover,
.key:focus {
  --lightness-offset: 10%;
}
/* KEYBOARD ENDS */

/* KEYBOARD ANIMATION */
.slide-in-blurred-br {
  -webkit-animation: slide-in-blurred-br 0.8s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-br 0.8s cubic-bezier(0.23, 1, 0.32, 1) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-5-18 13:2:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-br
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-br {
  0% {
    -webkit-transform: translate(1000px, 1000px) skew(80deg, 10deg);
    transform: translate(1000px, 1000px) skew(80deg, 10deg);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0) skew(0deg, 0deg);
    transform: translate(0, 0) skew(0deg, 0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-br {
  0% {
    -webkit-transform: translate(1000px, 1000px) skew(80deg, 10deg);
    transform: translate(1000px, 1000px) skew(80deg, 10deg);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0) skew(0deg, 0deg);
    transform: translate(0, 0) skew(0deg, 0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
